<!-- Portfolio Grid Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading">
                    Tech, Brains, and Molecules brings together a cohort of
                    highly intelligent and curious individuals for an intimate
                    dinner discussion about breakthrough technologies and how
                    things work.
                </h3>
                <h3 class="section-subheading">
                    We host our dinners at the prestigious Columbia Tower Club,
                    taking in breathtaking views from the 75th floor, and
                    surrounded by a vibrant community of Seattle's business,
                    civic, and tech leaders.
                </h3>
                <!--<h3>
                    <a href="//blah" class="btn-xl">I want to join! (sign up here)</a>
                    <br><br><br>
                </h3>-->
                <a class="typeform-share button btn-xl" href="https://mattsh.typeform.com/to/EH5al8" data-mode="popup" style="display:inline-block;text-decoration:none;cursor:pointer;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
                    target="_blank">I want to join! (sign up) </a>
                <script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>

                <h3 class="section-subheading text-muted">
                    Sponsored by the:<br><br>
                    <a href="http://www.clubcorp.com/Clubs/Columbia-Tower-Club" target="_blank">
                        <img src="../css/2018_style/img/logos/ctc.jpg" style="width:50%">
                    </a>
                </h3>
            </div>
        </div>
    </div>
</section>
