<!DOCTYPE html>
<html>

{% include 2018_data/head.html %}

<body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">
                    Tech, Brains, and Molecules
                    <br>
                </div>
                <!--<div class="intro-lead-in">Tuesday, February 6th, 2018</div>-->
                <div class="intro-lead-in">at the Columbia Tower Club</div>
                <a href="#about" class="page-scroll btn btn-xl">
                    Tell Me More!
                </a>
            </div>
        </div>
    </header>

    {% include 2018_data/about.html %}
    {% include 2018_data/contact.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/js.html %}

</body>
</html>
